#root {
  width: 100%;
  background-color: #dddd33;
}

.container {
  width: 1200px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  z-index: 10;

  .header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 252, 252, 0.95);
    border-bottom: 2px solid #bbbbbb
  }

  .title {
    margin-left: 100px;
    font-size: 34px;
    font-weight: 700;
    display: inline;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #1e1e20;
  }

  .icons-wrapper {
    margin-right: 100px;
    padding: 5px 20px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: #dddddd;
    box-shadow: 2px 3px 3px 0 rgba(0,0,0,0.2);

    & span {
      width: 20px;
      margin-left: 15px;
      font-size: 24px;
      color: blue;
    }

    .cart-shopping-wrapper,
    .star-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }


}





